doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ../../public/css/shared.css
            include ../../public/css/header.css
    body
        header
            nav(class="main-nav")
                div(class="nav-header")
                    h1(class="nav-title") DR
                div(class="nav-collapse")
                    ul(class="link-list")
                        li
                            a(class="link" href="/") Home
                        li
                            a(class="link" href="/") Add Discussion
                        li
                            a(class="link" href="/discussion") View Discussion
                        li
                            a(class="link" href="/signup") Signup
                        if !email
                            li
                                a(class="link" href="/login") Login
                        if email
                            li
                                form(action="/api/users/logout" method="POST")
                                    button(class="link" type="submit") Logout
                
                if email
                    div(class="user-details")
                        span(class="user-email")= email